body {
    margin: 0;
    height: 100%;
    touch-action: none;
    font-family: 'Roboto', sans-serif;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.overlay {
    position: fixed;
    user-select: none;
}
.country_name {    
    bottom: 100px;
    left: 5%;
    font-size: 1.2rem;
    color: white;
}

.date {    
    font-size: 1rem;
    color: white;
    margin-bottom: 5px;
    text-align: center;
}

.mouse_coordinates {
    font-size: 1rem;
    color: white;
    bottom: 1%;
    left: 1%;
}

.slider {
    -webkit-appearance: none;    
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.bottomGUI {
    width: 90%;
    bottom: 50px;
    left: 5%;
}